.headerInner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 55px
}

.toggle__icon__area {
    margin-right: 15px
}

.toggle__icon {
    width: 25px;
    height: 2px;
    background-color: #444
}

.toggle__icon:not(:last-child) {
    margin-bottom: 3px
}

.headerLeftCol {
    width: 140px;
    display: flex;
    align-items: center
}

.headerLeftToggleBtn {
    cursor: pointer
}

.headerLeftToggleBtn li {
    background: #444;
    height: 2px;
    width: 21px
}

.headerLeftToggleBtn li:not(:last-child) {
    margin-bottom: 3px
}

.headerLogo {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden
}

.headerLogo img {
    width: 127px;
    -webkit-object-fit: cover;
    object-fit: cover;
    cursor: pointer
}

.headerMiddleCol {
    position: relative;
    width: 100%
}

.search__column {
    position: relative;
    width: 30px
}

.showSearchResult {
    position: absolute;
    left: 0;
    bottom: -84px;
    width: 100%;
    background-color: var(--orange)
}

.showSearchResult ul li {
    padding: 5px
}

.searchProductCard .singleProductAddToCartImg {
    width: 50px;
    height: 50px
}

.headerRightCol {
    width: 215px;
    display: flex;
    align-items: center;
    height: 55px;
    justify-content: flex-end
}

.headerLocationIcon {
    width: 15px;
    height: 15px;
    color: #006a4e
}

.toggleBagQTY {
    color: #fff;
    font-size: 14px !important
}

.headerCityCol {
    display: none;
    align-items: center;
    justify-content: flex-end;
    height: 55px;
    width: auto;
    padding: 0 10px;
    cursor: pointer;
    transition: all .1s linear
}

.headerLocationIconArea {
    display: flex;
    align-items: center
}

.cityText,
.helpAndMoreText {
    font-weight: 600;
    font-size: var(--fontSizeM);
    color: #006a4e;
    margin-top: 3px;
    margin-left: 3px
}

.headerMoreHelpCol {
    width: 145px;
    height: 55px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    transition: all .1s linear;
    cursor: pointer;
    border-right: 1px solid var(--bg2);
    display: none
}

.questionMarkForHelp {
    height: 20px;
    width: 20px;
    background: var(--bg5);
    text-align: center;
    border-radius: 50%;
    font-size: var(--fontSizeM);
    line-height: 20px;
    font-weight: 600;
    color: var(--white)
}

.headerLanguageSettingsCol {
    height: 55px;
    width: 120px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    transition: all .1s linear;
    cursor: pointer;
    display: none
}

.headerLanguageSettingsCol p {
    margin-top: 3px;
    margin-left: 6px
}

.languageBn,
.languageEn,
.signInTextForHeader {
    font-size: var(--fontSizeM);
    font-weight: 600;
    color: #006a4e
}

.languageEn {
    position: relative
}

.languageEn:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 13px;
    background-color: var(--color3);
    right: -6px;
    top: 4px
}

.activeLanguagecolor,
.activeLanguageHover:hover {
    color: var(--bg4)
}

.headerSignInCol {
    height: 70px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s linear;
    cursor: pointer;
    background: #006a4e;
    position: relative
}

.signInTextForHeader {
    margin-top: 3px;
    margin-left: 3px
}

.header__right__price__text {
    width: 100%;
    border-top: 2px solid;
    padding-top: 3px;
    margin-top: 3px
}

.hideCartPage {
    right: -100% !important
}

.hideCartPage,
.showCartPage {
    transition: all .45s cubic-bezier(.23, 1, .32, 1) 0ms
}

.showCartPage {
    right: 0 !important
}

.cartLogo {
    width: 70px
}

.cartLogo img {
    width: 30px
}

.header__cart__icon__col {
    display: none;
    width: 70px;
    display: block
}

.header__right__cart__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative
}

.right__cart__info__style {
    font-size: 16px;
    font-weight: 600;
    color: #fff
}

.right__cart__info__icon {
    font-size: 13px;
    font-weight: 400;
    display: inline-block
}

.border__bottom__under__list {
    position: relative;
    width: 100%;
    margin-bottom: 2px;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center
}

.border__bottom__under__list:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1.25px;
    width: calc(100% - 20px);
    background-color: hsla(0, 0%, 100%, .47843137254901963);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.artboardsize {
    width: 25px
}

.togg__arrow {
    position: absolute;
    width: 30px;
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 8px;
    z-index: 9999
}

.togg__arrow img {
    width: 30px
}

.hideSearchInput {
    display: none
}

.showSearchInput {
    display: block;
    width: 100%;
    background: var(--white);
    border: none;
    outline: none;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    border: 1px solid var(--bg11)
}

.ProfilePopupForMobileArea {
    display: none
}

.ProfilePopupForDesktop {
    display: block
}

.searchIconForMobile,
.searchIconForMobileForIpad {
    display: none
}

.searcIconIcon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    transition: all .3s;
    right: 7px;
    cursor: pointer;
    color: #006a4e;
    margin-right: 10px
}

